@import "tailwindcss";

@theme {
    --color-header: #293036;
    --color-background: #30373D;

    --color-text: #eee;
    --color-selected: #cceefb;
}

html, body, #root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    color: var(--color-text);
}